:root {
    /* Color */

    /* ---------------------------------------------- */

    /* primary */
    --dark-blue: 233, 26%, 24%;
    --lime-green: 136, 65%, 51%;
    --bright-cyan: 192, 70%, 51%;

    /* neutral */
    --grayish-blue: 233, 8%, 62%;
    --light-greyish-blue: 220, 16%, 96%;
    --very-light-gray: 0, 0%, 98%;
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;

    /* sizes */
    --size-mobile: 420px;
    --size-desktop: 1440px;

}

* {
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: hsl(var(--very-light-gray));
    text-align: center;

    /* line-height: 1.75rem; */
}

a:hover {
    color: hsl(var(--lime-green)) !important;
}

svg {
    fill: #FFF !important;
}

svg:hover,
svg:focus {
    fill: #31d35c !important;
}
.feature-box {
    /* text-align: center; */
    padding: 1rem 1rem 1rem 1rem;
    max-width: var(--size-mobile);
    line-height: 1.75rem;
}

.feature-box-main {
    background-color: hsl(var(--light-greyish-blue));
}

.feature-box>h1 {
    font-weight: 700;
}

.feature-box>p {
    color: hsl(var(--black), 0.6);

}

.latest-news-box {
    /* border: 1px solid hsl(var(--black),.7); */
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem .5rem 1rem .5rem;
    background-color: hsl(var(--white));
    text-align: left;
    line-height: 1.75rem;
}

.latest-news-box>img {
    width: 100%;
    aspect-ratio: 2/1.25;
}

.latest-news-box>label {
    /* color:hsl(var(--black),0.6); */
    padding: .1em .2em;
}

.latest-news-box>div {
    padding: 1.5rem 2rem;
}


#welcome-header-bg-image {
    content: url(./images/bg-intro-mobile.svg);
    z-index: -1;
}

.welcome-header-bg-image-div>img {
    width: 100%;
}

.welcome-header-bg-image-div {
    position: relative;
}

.make-top {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

.make-gradient {
    background-image: linear-gradient(to right, hsl(var(--lime-green)), hsl(var(--bright-cyan)));
}

.button-shaper {
    border: none;
    color: hsl(var(--white));
    padding: 1rem 2.25rem;
    font-weight: bolder;
    font-size: larger;
    border-radius: 2rem;
    cursor: pointer;
}

.button-shaper:hover,
.button-shaper:focus {
    opacity: 0.69;
}

.footer-main .button-shaper:hover,
.footer-main .button-shaper:focus {

    opacity: 0.9;
}

.welcome-header p {
    color: hsl(var(--black), 0.6);
}

.top-down-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-right-margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.top-down-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.left-right-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-main {
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--white));
    margin-top: 2rem;
}

.footer-logo-social img {
    max-width: 100%;
}

.footer-social svg {
    padding: .2rem;
    padding-top: 1rem;
}

.ul-design-remover {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
}

.decoration-remover {
    color: inherit;
    text-decoration: none;
}

.decoration-remover-all * {
    color: inherit;
    text-decoration: none;
}

.nav-logo>img {
    max-width: 100%;
}

.nav-request-div {
    display: none;
}

.on-large {
    display: none;
}

.nav-bar {
    z-index: 2;
    position: fixed;
    display: flex;
    top: 0;
    background-color: hsl(var(--white));
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    cursor: pointer;
}

.hamburger-icon>img {
    content: url(./images/icon-hamburger.svg);
}

/* ///////////////// */

.open>img {
    content: url(./images/icon-close.svg);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
}


.mobile-menu {
    display: none;
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
}

.mobile-menu>div {
    background-color: hsl(var(--white));
    padding: 1rem 1rem;
    width: 70%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.mobile-menu>div>li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.large-menu-div li {
    display: inline;
    justify-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.large-menu-div li:hover,
.large-menu-div li:focus {
    border-bottom: 3px solid hsl(var(--lime-green));
}


@media only screen and (min-width: 420px) {
    .move-on-large {
        display: flex;
        flex-direction: row;
        /* flex-wrap:unset; */
        justify-content: space-evenly;
    }

    .on-small {
        display: none;
    }

    body {
        text-align: left;
    }

    .nav-bar {
        justify-content: space-around;
    }

    #welcome-header-bg-image {
        content: url(./images/bg-intro-desktop.svg);
        z-index: -1;
    }

    #front-image {
        width: 90%;
        position: absolute;
        top: 0;

    }

    .welcome-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer-main {
        justify-content: space-around;
        align-items: center;
    }

    .big-left-right-padding {
        padding-left: 11rem;
        padding-right: 11rem;
    }
}